[Desktop Entry]
Version=1.0
Type=Application
Name=Discogs Spinner
Comment=Browse, spin, and value your Discogs vinyl collection
Exec=dplayer-gui
Icon=discogs-spinner
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=Discogs;Records;Vinyl;Collection;Wantlist;Market Value;Spotify;YouTube;Music;
StartupNotify=true
StartupWMClass=com.discogs_player.app
