[Desktop Entry]
Version=1.0
Type=Application
Name=Spinner for Discogs
Comment=Browse, spin, and value your Discogs vinyl collection
Exec=dplayer-gui
Icon=io.github.edonahue.SpinnerForDiscogs
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=Discogs;Records;Vinyl;Collection;Wantlist;Market Value;Spotify;YouTube;Music;
StartupNotify=true
StartupWMClass=io.github.edonahue.SpinnerForDiscogs
